<div class="app-brand">
  <div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">{{ update ? 'Atualizar Marca' : 'Criar Marca' }}</span>
    <form [formGroup]="form">
      <div class="grid p-fluid">
        <div class="col-12 md:col-6">
          <div class="p-field">
            <label for="name">Nome</label>
            <input id="name" type="text" pInputText formControlName="name" required>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="p-field">
            <label for="category">Categoria</label>
            <p-dropdown id="category" inputId="category" [filter]="true" [options]="categoryOptions" placeholder="Selecione a categoria"
                        formControlName="categoryId">
            </p-dropdown>
          </div>
        </div>
        <div class="col-12">
          <div class="p-field">
            <label for="description">Descrição</label>
            <textarea id="description" type="text" pInputTextarea style="resize: none" [rows]="5"
                      formControlName="description" required></textarea>
          </div>
        </div>
        <div class="w-full flex justify-content-end">
          <button [icon]="'pi pi-' + (update ? 'save' : 'plus')" pButton pRipple
                  [label]="(update ? 'Salvar ' : 'Incluir ' ) + 'Marca' "
                  (click)="Save()" class="w-auto mt-3"></button>
        </div>
      </div>
    </form>
  </div>
</div>
